.qualitybg{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/aboutbg.png') no-repeat center;
	background-size: cover;
	height: 400px;
}
.imgbg{
    background: url(../public/award/award.png)no-repeat center;
    background-size: cover;
    // height: 300px;
    margin-right: 10px;
    margin-left: 10px;
}
.imgbg2{
    background: url(../public/award/award2.png)no-repeat center;
    background-size: cover;
    // height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
.margin{
    padding-top: 130px;
    color: #F6821F;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'open sans bold';
    // font-weight: 900;
}
.margintwo{
    color: #F6821F;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'open sans bold';
}